

.rotated {
    transform: rotate(90deg);
    opacity: 0.5;
}

i.big.icon, i.big.icons {
    font-size: 2.4rem;
}


h1 {
    font-size: 2.7rem;
    font-weight: 800;
    font-family: 'Roboto Mono';

}

/*h1 span {*/
/*    font-size: 2.9rem;*/
/*    font-weight:300;*/
/*}*/
#triangle-icon{
    font-size: 0.8em;
    font-weight: 100;
}
